#head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 30px;
  background-color: steelblue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

#head a {
  text-decoration: none;
  color: white; 
  font-size: 28px; 
  margin: 0 15px;
  transition: transform 0.3s ease;
}

#head a:hover {
  color: rgb(38, 84, 129);
  transform: scale(1.1);
}

#head h1 {
  font-size: 24px;
  margin: 0;
}

#head img {
  width: 90px;
  margin: 0;
}
/* -------------------------- Menú desplegable -------------*/
.nav-header-sesion {
  position: relative; 
}

/* Estilo para el botón que activa el menú */
.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

/* Estilo para el menú desplegable */
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: black;
  border-radius: 12%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.692);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

/* Estilo para los enlaces del menú */
.dropdown-menu a {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.btn-logout {
  color:white;
}
